doctype html
html(lang="en")
    head
        title= `${title}`
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            h1 Create New Contact
            a(href="/") Return to the homepage
            form(method="POST")
                label(for="firstname") First Name
                input(type="text" name="firstname" required)
                
                label(for="lastname") Last Name
                input(type="text" name="lastname" required)
                
                label(for="email") Email
                input(type="email" name="email" required)
                
                input(type="submit" value="Submit")